<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% set titleBlock = block("title") %}
      {% if titleBlock is not empty %}
        {% block title %}{% endblock %} |
      {% endif %}
      {{ app.currentSite.title }}
    </title>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/theme//favicon.png" />

    {# biblys assets #}
    {% include "layout:_assets_css.html.twig" %}

    <link rel="stylesheet" href="/theme/styles.css?{{ app.currentSite.getOption('assets_version') }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include "layout:_analytics.html.twig" %}
  </head>

  <body>
    {% include "layout:_overall_menu.html.twig" %}
    <div id="wrapper" class="container">
      <header id="header" class="center d-print-none">
        <a href="/" class="d-print-none"
          ><img src="/theme//header.png" alt="Librairie Charybde"
        /></a>
      </header>

      <div id="searchBox" class="d-print-none">
        <form class="form-inline" action="/pages/search" class="text-center">
          <input
            type="text"
            class="form-control mr-sm-2"
            placeholder="Titre, auteur, éditeur, ISBN, mot-clé..."
            name="q"
            aria-label="Rechercher"
          />

          <button type="submit" class="btn btn-light mr-2">Recherche</button>
          <span id="myCart">
            {{ cart_status()|raw }}
          </span>

        </form>
      </div>

      <nav id="navbar">
        <a href="/">Accueil</a>
        <!--a href="/pages/promo" class="red">-75%</a//-->
        <a href="/blog/">Actualité</a>
        <a href="https://charybde2.wordpress.com/">Blog</a>
        <a href="/pages/charybde-tv">TV</a>
        <a href="/pages/evenements">Évènements</a>
        <a href="/blog/coups-de-coeur/">Coups de cœur</a>
        <a href="/pages/vente-en-ligne">Vente en ligne</a>
        <a href="/pages/parutions">Parutions</a>
        <a href="/pages/occasions">Occasions</a>
        <a href="/pages/librairie">La librairie</a>
        <a href="/pages/informations-pratiques" class="d-block d-md-none">Infos pratiques</a>
        <a href="/contact/">Contact</a>
      </nav>

      <div class="row">
        <section id="main" class="container col-md-9">
          {% include "layout:_flash_messages.html.twig" %}

          {% block main %}{% endblock %}
        </section>

        <aside class="col-md-3 visible-lg visible-md">
          <section id="infos" class="container-fluid d-print-none">
            <h3>Librairie Charybde</h3>
            <p>Ground Control</p>
            <p>
              81 rue du Charolais<br />
              75012 Paris<br />
            </p>
            <p>
              M° Gare de Lyon
            </p>

            <a
              href="http://maps.google.fr/maps?gcx=c&amp;q=Librairie+Charybde&amp;um=1&amp;ie=UTF-8&amp;hl=fr&amp;sa=N&amp;tab=wl"
              ><img src="/theme//map.png" alt="Venir chez Charybde"
            /></a>

            <h3>Horaires</h3>
            <p>
              Mer. Jeu. Ven. Sam. Dim. :<br />
              12h - 22h30<br />
              Fermeture lundi et mardi.
            </p>

            <h3>Newsletter</h3>
            <p class="left">
              Tenez-vous au courant de l'actualité, des évènements et des coups de cœurs de la
              librairie.
            </p>
            <form action="/mailing/subscribe" method="post">
              <fieldset class="center">
                <input
                  type="email"
                  placeholder="Votre adresse e-mail..."
                  name="email"
                  class="form-control"
                />
                <button class="btn btn-info btn-sm btn-block" type="submit">S'abonner</button>
              </fieldset>
            </form>
          </section>
        </aside>
      </div>

      <footer id="footer" class="footer-credits">
        propulsé par <a href="https://biblys.org/">biblys</a> · logiciel libre
      </footer>
    </div>

    {% include "layout:_assets_js.html.twig" %}
  </body>
</html>
